.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 25px;
    text-align: center;
}
.skill-item i {
    font-size: 3.5rem; /* Ajusta el tamaño del ícono */
    transition: transform 0.3s ease;
}
.skill-item i:hover {
    transform: scale(1.2); /* Efecto al pasar el mouse */
}
.skill-item p {
    margin-top: 10px;
    font-weight: bold;
}